body,
html {
  display: flex;
  flex-direction: column;
  height: "100%";
}
.back {
  flex-grow: 1;
  background-color: "#CBD5DD";
}
.dvbox {
  padding: 15;
  border: "1px solid #d8d4d4";
  border-radius: 5;
  margin: "10px 10px 0 10px";
  background-color: "white";
}
.bread {
  padding-left: "100px";
  padding-top: "5px";
  background-color: "transparent";
}
