.ant-layout {
  padding: 0;
  /* background: #fff; */
}
.ant-layout-content {
  background: transparent;
  color: black;
  /* padding: 2px; */
  min-height: 280px;
}
.ant-layout-sider {
  background: white;
  color: black;
}
.ant-layout-sider1 {
  background: transparent;
  color: black;
}
.ant-layout-footer {
  /* position: "sticky"; */
  bottom: "0";
  padding: 0;
}
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.polaroid {
  width: 300px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  z-index: 1000;
  box-shadow: 3px 0 5px -2px #888;

  height: 100vh;
  margin-bottom: -5000px; /* any large number will do */
  padding-bottom: 5000px;
  overflow: hidden;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: 1001;
  background: lime; /* Just to visualize the extent */
}
.fill-height-or-more {
  flex: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

[data-theme="dark"] .ant-layout-content {
  background: #141414;
}
[data-theme="dark"] .logo {
  background: rgba(255, 255, 255, 0.3);
}
