html {
  position: relative;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: "#CBD5DD";

  display: flex;
  flex-direction: column;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar-fixed-bottom {
  font-size: 12px;
  line-height: 18px;
}
.navbar-fixed-bottom .navbar-inner {
  min-height: 62px;
  background-color: #395697;
}
.navbar-fixed-bottom .p {
  margin: 2px 0 2px;
}
